arxiv==1.4.8
bioc==2.0.post5
docopt==0.6.2
h5py==3.9.0
matplotlib==3.7.2
medspacy==1.1.2
numpy==1.24.3
opencv_python==4.8.0.76
pandas==2.0.2
pdfminer==20191125
Pillow==9.5.0
pydicom==2.4.3
radtext==1.0.dev8
Requests==2.31.0
spacy==3.5.3
streamlit==1.23.1
streamlit_drawable_canvas==0.9.3
streamlit_extras==0.3.0
streamlit_img_label==0.1.1
streamlit_option_menu==0.3.6
tqdm==4.65.0
